<!--<script>
  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    console.log('Name: ' + profile.getName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    window.angularComponentReference.zone.run(() => { window.angularComponentReference.loadAngularFunction(); });
  }
</script>-->
<!--<div class="g-signin2" data-onsuccess="onSignedIn" data-theme="dark"></div>-->
<!--<a href="#" onclick="signOut();" id="signout"></a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut();
  }

  function onSignedIn(googleUser) {
    var signoutElement = document.getElementById('signout');
    signoutElement.innerHTML =
      'Sign out ' + googleUser.getBasicProfile().getEmail();
  }
</script>-->

<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header">Angular 8 Basic Auth Login Example</h4>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="card-block">
          <div class="g-signin2" data-onsuccess="onSignIn" #loginRef></div>
          <!--<fb:login-button scope="public_profile,email"
                       onlogin="checkLoginState();">
          </fb:login-button>-->
          <button type="button" class="btn" (click)="submitFBLogin();">Login with facebook</button>
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
          </button>
        </div>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
      <!--<button class="btn btn-social-icon btn-google" (click)="signInWithGoogle()"><span class="fa fa-google"></span></button>
      <button class="btn btn-social-icon btn-facebook" (click)="signInWithFB()"><span class="fa fa-facebook"></span></button>-->
    </div>
  </div>
</div>
